@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/itc-serif-gothic-2');

/* Ajuste padrão da página */

body {
    margin: 0;
    overflow: hidden;
}

svg {
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 20, 28);
}

/* Estilo da linha */

.fio-interativo line {
    stroke: rgb(127, 128, 122);
    stroke-width: 10;
    transition: stroke 0.2s;
    cursor: pointer;
}

.fio-interativo.hover line,
.fio-interativo.selecionado line {
    stroke: rgb(226, 228, 217);
}

.fio-interativo path {
    transition: fill 0.2s, stroke 0.2s;
    cursor: pointer;
}

.fio-interativo.hover path,
.fio-interativo.selecionado path {
    fill: rgb(226, 228, 217);
    stroke: rgb(8, 20, 28);
}

/* Cor das pistas */

#card-green .pista rect {
    fill: rgb(64, 140, 92);
    transition: fill 0.2s ease;
}

#card-gray .pista rect {
    fill: rgb(127, 128, 122);
    transition: fill 0.2s ease;
}

#card-orange .pista rect {
    fill: rgb(181, 118, 75);
    transition: fill 0.2s ease;
}

#card-red .pista rect {
    fill: rgb(180, 74, 74);
    transition: fill 0.2s ease;
}

#card-purple .pista rect {
    fill: rgb(80, 58, 141);
    transition: fill 0.2s ease;
}

#card-blue .pista rect {
    fill: rgb(28, 74, 149);
    transition: fill 0.2s ease;
}

/* Cor das pistas quando clicadas e selecionadas */

#card-orange .pista:hover rect,
#card-orange .pista.selecionada rect {
    fill: rgb(255, 167, 104);
}

#card-green .pista:hover rect,
#card-green .pista.selecionada rect {
    fill: rgb(104, 255, 172);
}

#card-gray .pista:hover rect,
#card-gray .pista.selecionada rect {
    fill: rgb(226, 228, 217);
}

#card-red .pista:hover rect,
#card-red .pista.selecionada rect {
    fill: rgb(255, 103, 105);
}

#card-purple .pista:hover rect,
#card-purple .pista.selecionada rect {
    fill: rgb(144, 104, 255);
}

#card-blue .pista:hover rect,
#card-blue .pista.selecionada rect {
    fill: rgb(50, 127, 255);
}

/* Tamanho dos textos dos cards */

.texto3Linhas {
    font-size: 68px;
}

.texto2Linhas {
    font-size: 62px;
}

.texto1Linha {
    font-size: 60px;
}

.textoGrande {
    font-size: 54px;
}

.textoMedGran {
    font-size: 31px;
}

.textoMedio {
    font-size: 26px;
}

.texto3LinhasMedio {
    font-size: 31px;
}

.textoPeqMed {
    font-size: 21px;
}

.textoPequeno {
    font-size: 19px;
}

/* Ajustes em textos */


.mensagens p::before {
    content: '— ';
    color: rgb(89, 121, 182);
    margin-left: -1.5%;
}

#info {
    font-family: "Space Mono", monospace;
    position: fixed;
    bottom: 20px;
    left: 12.5%;
    right: 12.5%;
    background: rgb(6, 15, 21);
    color: white;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 20.5px;
    font-weight: 200;
    text-align: justify;
    border: 2px solid rgb(89, 121, 182);
    box-shadow: 0px 0px 35px 18px rgba(8, 20, 28, 0.5);
    -webkit-box-shadow: 0px 0px 35px 18px rgba(8, 20, 28, 0.5);
    -moz-box-shadow: 0px 0px 35px 18px rgba(8, 20, 28, 0.5);
    user-select: none
}


tspan {
    font-family: "Space Mono", monospace;
    fill: rgb(8, 20, 28);
    font-weight: 600;
    text-anchor: middle;
    margin: -20px;
}

/* Cursor */

.pista rect {
    cursor: pointer;
}

text {
    pointer-events: none;
    user-select: none
}

image {
    cursor: pointer;
}

#svg.dragging {
    cursor: grabbing;
}

/* Modal */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(7px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: rgb(13, 13, 13);
    padding: 1.5rem 2rem;
    border-radius: 2px;
    width: 860px;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: solid 3px rgb(247, 218, 195);
}

.modal button {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: 'ITC Serif Gothic', sans-serif;
    font-weight: 800;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: rgb(13, 13, 13);
    border: solid 3px rgb(241, 134, 60);
    color: rgb(241, 134, 60);
    cursor: pointer;
    transition: 0.3s ease;
}

.modal button:hover {
    background-color: rgb(247, 218, 195);
    border: solid 3px rgb(247, 218, 195);
    color: rgb(13, 13, 13);
    transition: 0.3s ease;
}

.modal p {
    font-family: 'ITC Serif Gothic', sans-serif;
    color: rgb(241, 134, 60);
    font-size: 1.75rem;
}

.modal a {
    color: rgb(241, 134, 60);
    transition: 0.3s ease;
}

.modal a:hover {
    color: rgb(247, 218, 195);
    transition: 0.3s ease;
}

.modal h1 {
    color: rgb(241, 134, 60);
    font-family: 'ITC Serif Gothic', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

/* Responsividade */
@media (max-width: 600px) {

    #info,
    .modal {
        padding: 16px;
        font-size: 14px;
    }

    .modal p {
        font-size: 16px;
        line-height: 1.4em;
    }

    #info p {
        font-size: 12px;
    }

    .modal button {
        font-size: 16px;
        padding: 12px 16px;
    }

    .modal h1{
        font-size: 1rem;
    }

    .modal {
        height: 320px;
    }
}
